{"date":"2018-01-27T05:15:50.118Z","tipOfTheDay":"parseInt('2A', 16) converts the hex value 2A to it's decimal equivalent","questionOfTheDay":{"id":3,"question":"Which of the following is NOT a native JavaScript string method?","choices":"[\".slice()\", \".replace()\", \".substr()\", \".splice()\"]","answer":3,"explanation":null,"infopedia_id":null,"image_url":null,"deleted":false}}